@model TravelAgency.WEB.Models.ViewModels.CustomerPersonalAccountViewModel

@{
    ViewBag.Title = "GetCustomerInformation";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<input id="idCustomer" value="@Model.CustomerBLM.Id" hidden />
<div class="container-fluid  content-block">
    <div class="row">
        <div class="col-sm-3">
            <div class="card text-center accountCard mt-4" style="width: 19rem;">
                <img class="card-img-top" src="~/Content/Image/personal.png" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">@Model.CustomerBLM.Name @Model.CustomerBLM.Surname</h6>
                    <p class="card-text m-0">
                        @Model.CustomerBLM.ApplicationUserBLM.Email
                    </p>
                    <p class="m-0">
                        Шаг скидки: @Model.CustomerBLM.DiscountStep%
                    </p>
                    <p class="m-0">
                        <input type="button" class="btn btn-link p-0" data-toggle="modal" data-target="#ChangeDiscountStep" value="Изменить" onclick="$('#IdCustomer').val('@Model.CustomerBLM.Id')">
                    </p>
                    <p class="m-0">
                        Максимальная скидка: @Model.CustomerBLM.DiscountLimit%
                    </p>
                    <p class="m-0">
                        <input type="button" class="btn btn-link p-0" data-toggle="modal" data-target="#ChangeDiscountLimit" value="Изменить" onclick="$('#IdCustomer').val('@Model.CustomerBLM.Id')">
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="text-center" id="orders">
                <h3 class="text-center">Заказы</h3>
                <hr>

                @if (Model.ListCustomerTourBLM.Count() < 1)
                {
                    <h4 class="text-center">Еще нет заказов!</h4>
                }
                else
                {
                    <div class="row">
                        @foreach (var t in Model.ListCustomerTourBLM)
                        {
                            int price = t.NumberPerson * t.TourBLM.Price;
                            <div class="col-sm-6 p-1">
                                <div class="card">
                                    <div class="card-body">
                                        @{
                                            string result = "Активен";
                                            if (DateTime.Now > t.TourBLM.ArrivalDate)
                                            {
                                                result = "Завершен";
                                            }
                                        }
                                        <h5>@result</h5>
                                        <h4 class="card-title">@t.TourBLM.FlightBLM.FromWhereBLM.NameOfCity &#10148; @t.TourBLM.FlightBLM.WhereToBLM.NameOfCity</h4>
                                        <h6 class="card-text">@t.TourBLM.DepartureDate / @t.TourBLM.ArrivalDate</h6>
                                        <h5>
                                            @t.TripStatusBLM.Status
                                            @if (result == "Активен")
                                            {
                                                <input type="button" class="btn btn-link p-0" data-toggle="modal" data-target="#ChangeTripStatus" value="Изменить статус тура" onclick="$('#IdTourCustomer').val('@t.Id')">
                                            }
                                        </h5>
                                        <h6>Количество человек: @t.NumberPerson Цена: @price $</h6>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="ChangeDiscountLimit" tabindex="-1" role="dialog" aria-labelledby="ChangeDiscountLimit" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content justify-content-center align-items-center">

            <div class="modal-header">
                <h5 class="modal-title" id="ChangeDiscountLimit">Изменение лимита скидки для клиента @Model.CustomerBLM.Name @Model.CustomerBLM.Surname</h5>
                <button type="button" class="close w-auto" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="IdTourCustomer" hidden />
                <input type="text" id="discountLimit" placeholder="Лимит скидки" class="form-control" />
                <div id="NewLimit-error"></div>

            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-primary w-auto" value="Изменить" onclick="ChangeDiscountLimit()">
                <button type="button" class="btn btn-secondary w-auto" id="dataDismiss" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ChangeDiscountStep" tabindex="-1" role="dialog" aria-labelledby="ChangeDiscountStep" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content justify-content-center align-items-center">

            <div class="modal-header">
                <h5 class="modal-title" id="ChangeDiscountStep">Изменение шага скидки для клиента @Model.CustomerBLM.Name @Model.CustomerBLM.Surname</h5>
                <button type="button" class="close w-auto" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="IdTourCustomer" hidden />
                <input type="text" id="discountStep" placeholder="Шаг скидки" class="form-control" />
                <div id="NewStep-error"></div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-primary w-auto" value="Изменить" onclick="ChangeDiscountStep()">
                <button type="button" class="btn btn-secondary w-auto" id="dataDismiss" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ChangeTripStatus" tabindex="-1" role="dialog" aria-labelledby="ChangeTripStatus" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content justify-content-center align-items-center">

            <div class="modal-header">
                <h5 class="modal-title" id="ChangeTripStatus">Изменение статуса тура для клиента @Model.CustomerBLM.Name @Model.CustomerBLM.Surname</h5>
                <button type="button" class="close w-auto" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="IdTourCustomer" hidden />
                <select id="changeTripStatus" class="form-control">
                    @foreach (var s in Model.ListTripStatus)
                    {
                        <option value="@s.Id">@s.Status</option>
                    }
                </select>

            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-primary w-auto" value="Изменить" onclick="changeTripStatus()">
                <button type="button" class="btn btn-secondary w-auto" id="dataDismiss" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Areas/Manager/Scripts/TripStatus.js"></script>
    <script src="~/Areas/Manager/Scripts/ChangeCustomerInfo.js"></script>
}