<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Туры", "Index", "Tour", new { area = "Admin" }, new { @class = "navbar-brand" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Создать тур", "CreateNewTour", "Tour", new { area = "Admin" }, new { @class = "navbar-brand" })
                <li class="nav-item active">
                    @Html.ActionLink("Менеджеры", "Index", "Manager", new { area = "Admin" }, new { @class = "navbar-brand" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Клиенты", "Index", "Customer", new { area = "Admin" }, new { @class = "navbar-brand" })
                </li> 
                <li class="nav-item active">
                    @Html.ActionLink("Логирование", "Index", "Logger", new { area = "Admin" }, new { @class = "navbar-brand" })
                </li>
            </ul>
            <div class="form-inline">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="mx-0 px-0 content-block">
        @RenderBody()
        <hr />
        <footer class="fixed-bottom">
            <p>&copy; @DateTime.Now.Year - Final task Semenenko</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>