@model TravelAgency.BLL.BusinessModels.CustomerBLM
<div class="m-4">
    <h4 class="text-center">Результат поиска</h4>
    <table class="table">
        <tbody>
            <tr class="row">
                <th class="col-sm-2">@Model.Name</th>
                <th class="col-sm-2">@Model.Surname</th>
                <th class="col-sm-3">@Model.ApplicationUserBLM.Email</th>
                <th class="col-sm-1">@Model.StatusClientBLM.Status</th>
                <td class="col-sm-2">
                    @{ if (Model.StatusClientBLM.Status == "Заблокирован")
                        {
                            @Html.ActionLink("Разблокировать", "Unlock", "Customer", new { id = Model.Id }, new { @class = "btn btn-secondary" });
                        }
                        else
                        {
                            @Html.ActionLink("Заблокировать", "Lock", "Customer", new { id = Model.Id }, new { @class = "btn btn-secondary" });
                        }
                    }
                </td>
                <td class="col-sm-2">
                    @Html.ActionLink("Информация о клиенте", "GetCustomerInformation", "Customer", new { idCustomer = Model.Id }, new { @class = "btn btn-secondary" })
                </td>
            </tr>
        </tbody>
    </table>`
</div>
