@model TravelAgency.WEB.Models.ViewModels.CustomerPaginationViewModel
@if (Model.ResponsePaginationCustomerModel.CustomerBLM.Count() < 1)
{
    <h4 class="text-center">Пусто!</h4>
}
else
{
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr class="row text-center">
                    <th class="col-sm-2 table-info">Имя</th>
                    <th class="col-sm-2 table-info">Фамилия</th>
                    <th class="col-sm-3 table-info">Почта</th>
                    <th class="col-sm-1 table-info">Статус</th>
                    <th class="col-sm-4 table-info"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model.ResponsePaginationCustomerModel.CustomerBLM)
                {
                    <tr class="row text-center">
                        <td class="col-sm-2">@c.Name</td>
                        <td class="col-sm-2">@c.Surname</td>
                        <td class="col-sm-3">@c.ApplicationUserBLM.Email</td>
                        <td class="col-sm-1">@c.StatusClientBLM.Status</td>
                        <td class="col-sm-4">
                            @Html.ActionLink("Информация о клиенте", "GetCustomerInformation", "Customer", new { idCustomer = c.Id }, new { @class = "btn btn-secondary" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
<div class="d-flex justify-content-center">

    <nav aria-label="PageNavigation">
        <ul class="pagination">
            @if (Model.ResponsePaginationCustomerModel.PageNumber > 1)
            {
                <li class="page-item">
                    <a class="page-link" id="Prev" href="javascript:Prev()" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }

            <li class="page-item"><a class="page-link">@Model.ResponsePaginationCustomerModel.PageNumber / @Model.ResponsePaginationCustomerModel.TotalPages</a></li>

            @if (Model.ResponsePaginationCustomerModel.PageNumber < Model.ResponsePaginationCustomerModel.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="javascript:Next()" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>


